<%= provide(:description, 'Erfahren über hypnotherapie, trance und channeling von Hillary Keel') %>  
<%= provide(:keywords, 'trance, channeling, hypnotherapy, hypnosis') %>
<div class="row" >
    <%= image_tag "banner.jpg", class:"img-responsive center-block" %>
    <h1>Who will you be then?</h1>  
</div>
<div class="row">   
  <div class="col-md-7">
    <h3><%= provide(:title, 'Healing through Hypnosis') %>Heilung durch Hypnose
</h3> 
    <p><strong><em>Heilende Lösungen für des Lebens Rätsel finden</em></strong></p> 
    <p>Haben Sie eine lästige Angewohnheit oder ein störendes Muster in Ihrem Verhalten, das Sie gerne verändern würden? Vielleicht müssen Sie Schmerzen bewältigen oder sich mit Krankheit oder Trauma auseinandersetzen. Möchten Sie so manche Rätsel Ihres Lebens lösen? Haben Sie Essprobleme? Würden Sie gern das Rauchen aufgeben? Dies sind unter anderem die Themen, die mithilfe von Hypnose angegangen werden können. Hypnose könnte eine gute Option für Sie sein.</p>
    <h4>Trance and Channeling</h4>
    <p>Trance ist eine Ressource, die wir alle besitzen. Trance befähigt uns, neue Wahrnehmungsweisen unseres Selbst und unserer Umwelt zu erschließen, die uns dahin führen können, unser Leben zu verändern. </p> 

    <p>Trance ist aber auch ein alltäglicher Geisteszustand. Wir können zum Beispiel in Trance verfallen, während wir ein gutes Buch lesen oder Musik hören, wenn wir ein neues 
Produkt verkauft bekommen, wenn wir uns verlieben oder wenn wir ganz auf ein Projekt fokussiert sind. Manche Leute fallen leichter in einen veränderten Seinszustand als andere, aber jeder tut es – das gehört zum Menschsein.</p>. 

    <p>Trance tritt in unterschiedlicher Form auf und kann erreicht werden, wenn unsere gewohnten Denkmuster unterbrochen werden – das kann durch einen Schock passieren, ein emotionales Erlebnis oder durch psychedelische Drogen. Sie kann aber auch durch meditative Praxis und Atemübungen entstehen.</p>

    <p><strong><em>Hypnose ist eine Möglichkeit, Zugang zu Trance zu finden</em></strong></p>
    <p>Hypnotherapie kann Trance erzeugen und sie zur Heilung nutzen. Durch die hypnotische Trance kann der Therapeut / die Therapeutin den Klienten / die Klientin ins Unterbewusstsein führen. Trance ist ein Weg, das Denken des Klienten / der Klientin von alten Mustern zu befreien, es dem Unbewussten zu ermöglichen, ans Licht zu kommen und die für die Heilung nötigen Mittel, Techniken und Narrative zu finden.</p>
    <p><strong><em>Der Hypotiseur/ die Hypotiseurin leitet nur an...</em></strong></p>
    <p>Durch hypnotische Trance gelangen wir in den ‚Ressourcen-Zustand‘. Dies ist Ihr eigener unterbewusster oder überbewusster Zustand, Ihr allerbestes Selbst, das nichts als pures Wohlgefühl im Sinne hat. In einer Hypnosesitzung können Sie sowohl in Ihren eigenen ‚Ressourcenzustand‘ gelangen, als auch lernen, wie Sie das selbständig praktizieren können.</p>
    <p><strong><em>Spirituelle Beratung</em></strong></p>
    <p>Ich biete auch gechannelte Sitzungen an, wo ich mich selbst in Trance oder ‚Ressourcenzustand‘ begebe und spirituelle, intuitive Beratung gebe. Sie können sich mit mir und meinem Überbewussten unterhalten, während ich in diesem veränderten Bewusstseinzustand bin.</p>
    <h4>Erfahren Sie mehr </h4> 
    <p>Wenn Sie sich für meine meditativ-künstlerische Hypnotherapie, Trance und Channeling miteinbeziehende Arbeit interessieren, <a href="mailto:hillary.keel@gmail.com?subject=Hypnotherapy%20Inquiry"><strong>kontaktieren Sie mich, (hillary.keel@gmail.com)</strong></a> um eine kostenlose Beratung zu vereinbaren. Ich bin in Brooklyn stationiert, kann aber gern an unterschiedliche Standorte kommen. Ich biete auch Sitzungen via Skype an.</p>

    <p>Ich stamme aus einer Familie, die eine Geschichte mit iatrogenen Erkrankungen hat, was bedeutet, dass meine engen Familienangehörigen, Verwandten und Vorfahren große Traumata erlitten oder zu Tode kamen, gänzlich oder teilweise bedingt durch medizinische Untersuchungen oder Behandlungen. Die Erfahrung von medizinischem Versagen am eigenen Leib wie auch an jenem meiner Familienangehörigen hat mich dazu geführt, nach anderen Heilungsarten zu suchen.</p> 

    <p>Seit 2015 bin ich <strong>zertifizierte Hypnotiseurin</strong> und gehöre der Internationalen Vereinigung der BeraterInnen und TherapeutInnen an. 2008 ließ ich mich bei <a href="http://www.channeling-healing.com/home/">Rhiannon Augenthaler</a>. in Channeling ausbilden und habe zusätzlich intensiv mit dem Channeler  <a href="http://universalcorewellness.com/loumartin/">Lou Martin</a>. In New York City arbeite ich mit der Poeten und Hypnotikerin <a href="http://www.mindbodystudies.com">Kristin Prevallet</a>, die mich zur Hypnotikerin ausbildete.</p>
  </div>
  <div class="col-md-5">  
    <h3>Die Reaktionen meiner KlientInnen</h3>
    <p><cite>Ich glaube, unsere Sitzung hatte eine starke Wirkung auf mich. Ich habe das Gefühl, dass sich für mich etwas verändert hat - ich fühle mich besser und bin seither in der Lage, klarer und effektiver Entscheidungen zu treffen. Als ich nach unserer Sitzung nachhause kam, gelang es mir, Dinge zu erledigen, die ich seit einiger Zeit vermieden hatte zu erledigen. Ich habe seither mutige Entscheidungen getroffen, die ich mir sonst durch die Finger gehen hätte lassen. Ich bin stolz auf mich und habe gutes Feedback für meine [künstlerische] Performances bekommen.</cite> 
    K.C., New York<p>

    <p><cite>Ich machte mit Hillary eine tiefgehende Erfahrung. Die Sitzung ermöglichte es mir, in meine Kindheit zurückzugehen, dem traurigen, gekränkten, neun Jahre jungen Mädchen zu begegnen, ihm Heilung zu bringen. Es gelang mir auch, diese Heilung zu verankern und sie zurück in mein gegenwärtiges Leben zu bringen. Ich fühlte mich verändert und besänftigt und bin nun fähig, mein jetziges Leben rundum wertzuschätzen.</cite>
    B.B., Brooklyn</p>

    <p><cite>Es war wirklich eine Sitzung mit großer Bedeutung für mich und vieles von dem, was ich dabei entdeckte, einschließlich einiger der Techniken, verwende ich im täglichen Leben. Nach unserer Sitzung fühlte ich mich sofort sehr positiv und fokussiert. Etwas in meiner Einstellung hat sich grundlegend verändert. Oft gelingt es mir während meiner morgendlichen Zugfahrten, im Sitzen manche der Techniken zu praktizieren. Ich empfinde es so, dass mich Hillary unterstützend leitete, sodass ich eine bereichernde erste Sitzung haben konnte.</cite>
    C.C., Wien</p>

    <p><cite>Ich musste ein Medikament nehmen, das die Anregung meines Appetits als Nebenwirkung hatte. Ich hatte mehr zugenommen, als ich wollte. Es war ein schwieriges Problem und obwohl mir geraten wurde, ein anderes Medikament zu nehmen, um der Nebenwirkung gegenzusteuern, weigerte ich mich irgendwie, diesen Weg zu gehen. Ich bevorzuge den Gedanken über Materie Zugang in Hillarys hypnotherapeutischen Sitzungen und ich glaube, dass ich einige spürbare Ergebnisse erzielte.</cite>
    L. G., New York</p>

    <p><cite>Ich war, bevor ich mit Hillary arbeitete, noch nie hypnotisiert worden. Ich war nervös und hatte meine kleinen Zweifel an der Vorgangsweise. Hillary hat mich sofort entspannt. Ihr Zugang zu Hypnose und Trance ist sanft, praktisch und beruhigend. Sie erklärt Dinge klar und gibt Unterstützung und Bestärkung bei jedem Schritt. Ich hatte nun schon einige Sitzungen mit Hillary und alle waren unglaublich reichhaltig. Ich gehe jedes Mal freier, leichter und glücklicher nach Hause. Mit Hillary zu arbeiten hat mir geholfen, Problemstellungen zu verändern, mit denen ich jahrlang gekämpft hatte. Ich bin sehr dankbar dafür, dass ich Hillary und ihre Arbeitsweise kennengelernt habe.</cite>
    Kasey Jueds, Gewinnerin des Agnes Lynch Starrett Poesie Preises</p>
    <p class="center fig"><%= image_tag "hillary.jpg" %><br><span class="muted credit"><a href="mailto:hillary.keel@gmail.com">Hillary Keel</a>, IATC Certified Hypnotist</span></p>
  </div>     
</div>

