<%= provide(:description, 'Sprachdienste von lehrbeauftragte für Deutsch Hillary Keel') %>  
<%= provide(:keywords, 'übersetzung, sprachtraining, editieren') %>
<div class="hero-unit center">
  <%= image_tag "vienna.jpg" %>
  <%= image_tag "hk-2.jpg" %>
  <%= image_tag "hk-3.jpg" %>
    <h1 class="center">
      <%= provide(:title, 'Übersetzung, Sprachtraining, Editieren') %>
      Übersetzung, Sprachtraining und Editieren
    </h1>
</div>


<div class="row">
  <div class="span12">
    <div class="container-fluid">
    <div class="row">
      <div class="col-md-6"> 
        <p><strong>Deutsch und Englisch</strong> Sprachtraining, zugeschnitten auf persönliche, berufliche, akademische oder geschäftliche Bedürfnisse.</p> 
        <p><strong>Aktuelle Position</strong>: Ich bin Lehrbeauftragte für Deutsch am Hunter College, wo ich Kurse zur deutschen Sprache und zum deutschen Märchen leite.</p>
      </div>
      <div class="col-md-6">  
        <p><b>Übersetzung, Lektorat und Korrektur. </b>
   Übersetzungen vom Deutschen oder Französischen ins Englische. Ich betreue außerdem Übersetzungen in diese Sprachen.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6"> 
          <p><strong>Zu meinen KundInnen gehören unter anderem</strong> Kunsthistorisches Museum Wien, Intersection Magazin, ÜbersetzerInnengemeinschaft Wien, Niederösterreichische Landesregierung, Österreichisches Ministerium für Landwirtschaft, Forstwirtschaft, Umwelt und Wasser Management, AutorInnen und KünstlerInnen wie Heinz Wiesbauer, Eva Ursprung, Giovanni Rindler, Marlen Schachinger, Rhiannon Augenthaler, Walter Brandau, Sylvia Petter, Günther Kaip, Paul Gottlieb, Ellen Weinberg Mausner, Carola Platzek und Kathrin Schedl.
          </p>
          <p>&nbsp;</p>
          <p class="muted credit">Photo (l): <i>Riesenrad, Vienna</i> von Daniela Beuren<br>Photo (r): <i>Cafe Prückel</i> von Sandra Huber</p>  

        </div>
        <div class="col-md-6">  
          <p><strong>Aussage einer privaten Kundin</strong>,</p> <p><cite>Dadurch dass Hillary beinahe dreißig Jahre in Österreich gelebt hat, besitzt sie die Fähigkeiten einer Muttersprachlerin, verfügt aber gleichzeitig über die Geduld und das nötige Verständnis für die Herausforderungen, Deutsch als zweite Sprache zu lernen. Ihre Begeisterung für die deutsche Literatur und Kultur sorgt dafür, dass es besonders viel Spaß macht, sich auf die deutsche Sprache einzulassen. .... Ich habe das Gefühl, unter Hillarys Leitung meine deutschen Sprachkenntnisse innerhalb nur weniger Monate deutlich verbessert zu haben. Es ist mir auch dank Hillarys Hilfe bei der Kommunikation mit Vermietern gelungen, eine Wohnung in Berlin zu finden. Ich würde sie allen empfehlen, die Deutsch lernen, ganz gleich, ob sie es aus beruflichen Gründen oder nur zum Spaß lernen.</cite> — Frances Provine</p>
          <p>&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
</div>
