<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div id="logo">
      <%= link_to "Hillary Keel | ", root_path %>
      <%= language_selector %>
      </div>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><%= mail_to 'hillary.keel@gmail.com', t('global.menu.contact') %></li> 
          <li><%= link_to t('global.menu.about'), about_path %></li>
          <li><%= link_to t('global.menu.writing'), writing_path %></li>
          <li><%= link_to t('global.menu.hypnotherapy'), hypnotherapy_path %></li>
          <li><%= link_to t('global.menu.languages'), languages_path %></li>          
        </ul>        
      </div>                
    </div>
   </div>
  </nav>